<!DOCTYPE html>
<html lang="en">
<head>

<title>Finance manager homepage</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>

<div class="jumbotron text-center">
  <h1>Finance Tracker</h1>
  <p>Keep track of your finances</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>What are we?</h3>
      <p>Keep on track with your money by recording your daily income and outcome.</p>
      <p>View recent expenditures and view possible forecasts.</p>
    </div>
    <div class="col-sm-4">
      <h3>Existing user?</h3>
      <p>If you are an existing user, you can sign in below.</p>
      <p><a href="/exisitinguser"> Already got an account? Sign in></a></p>
    </div>
    <div class="col-sm-4">
      <h3>New user?</h3>        
      <p>If you are a new user, you can sign up for an account below.</p>
      <p><a href="/newuser"> Need an account? Sign up here</a></p>
    </div>
  </div>
</div>



</body>
</html>